.card-container {
    max-width: max-content;
}

/* Fixeo de las card images para que no se deforme la card */
.card-header {
    width: 100%;
    min-height: 180px;
    overflow: hidden;
    position: relative;
}
.card-img-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Fixeo de tamaño de las cards*/
.card {
    min-height: 500px;
    max-height: 500px;
    width: 100%;
}

/* Fixeo de la altura de las cards para el crop del texto*/
.card-text-length {
    height: 70px;
    max-width: 100%;
}
.card-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Fixeo para que las cards no cambien de tamaño por el titulo wrappeando*/
.card-body {
    width: 18rem;
}
.card-title {
    font-size: calc(1rem + 1vw);
}
