/* Titulo de la pagina, dentro de la navbar*/
.titulo {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Icono de la navbar que te envia al home */
.navicon {
    scale: 200%;
    justify-content: center;
    align-items: center;
}

/* Contenedor general de toda la navbar */
.nav-container {
    background-color: #f3c623;
    padding: 1.5% 1%;
}

/* Secciones de la navbar: general, left, center, right */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Navbar ul, lista de items*/
.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0; 
}

/* Navbar li, items de la lista */
.nav-item {
    margin: 0 15px;
}

/* Navbar links, link de cada item */
.nav-link {
    color: #4e342e;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 2px;
    background-color: #ffe082;
    transition: background-color 0.3s ease;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

/* Efecto de botones de la navbar */
.nav-link:hover {
    color: #ffffff;
    background-color: #ffa000;
}

/* CartWidget, el carrito de compras del navbar */
.cart-widget {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 3%;    
    width: 2rem;
    height: auto;
}

.cart-widget p {
    top: -10px;
    right: -10px;
    background-color: #ff3d00;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding: 2px 6px;
    border-radius: 50%;
}

/* Icono del carrito, para el tamaño */
.Cart {
    font-size: 22px;
}

/* ItemListContainer, listado de productos */
.item-list-container {
    background-color: #ffe0b2;
    border: 2px solid #ffb74d;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.item-list-container h3 {
    color: #6d4c41;
}

/* Logo de la pagina de bienvenida */
.logo {
    scale: 500%;
    color: #f3c623;
    margin: 50px;
}

/* Fixeo del footer para no cortar la pagina*/
.footer {
    height: 60px;
}
.cover-container {
    padding-bottom: 160px;
}

/* Fixeo de las card images para que no se deforme la card */
.card-header {
    width: 100%;
    min-height: 180px;
    overflow: hidden;
    position: relative;
}
.card-img-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Fixeo de tamaño de las cards*/
.card {
    min-height: 500px;
    max-height: 500px;
    width: 100%;
}

/* Fixeo de la altura de las cards para el crop del texto*/
.card-text-length {
    height: 70px;
    max-width: 100%;
}
.card-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Fixeo para que las cards no cambien de tamaño por el titulo wrappeando*/
.card-body {
    width: 18rem;
}
.card-title {
    font-size: calc(1rem + 1vw);
}
